{% extends "base.html" %}

{% block content %}
    <h2 class="sub-header">快速录入</h2>

    <h5>当前操作员 {{ request.user.username }}</h5>

    <form action="/purchase/update/" method="POST" class="form-horizontal" id="form">

        <div class="form-group">
            <input type="text" class="form-control" name="data" id="data" style="display:inline;width:auto;" placeholder="商品标记" autocomplete="off">
            <button type="submit" class="btn btn-success" >提交</button>
        </div>

    </form>

    <div id="log"></div>

    <a href="/report/" class="btn btn-primary">生成报表</a>

    <script>

        $("#quick_input").addClass('active');

        $(function(){
            $("#form").submit(function(){
                var data = $("#data").val()
                if(!data){
                    return false
                }
                $.ajax({
                    url: "/quick_input/",
                    type: "POST",
                    data: {"data": data},
                    success: function(r){
                        $("#log").prepend($("<p>" + r + "</p>"))
                        $("#data").val("")
                    }
                });
                return false
            })

            $("#data").keypress(function(event){
                if(event.charCode==32){
                    $("#form").submit()
                }
            })
        })
    </script>

{% endblock %}